body{
    background: url(./indi.jpeg);
    background-size: cover;
    padding-bottom: 0px;
    
}
.back::after{
    content: '';
    inset: 0;
    background: black;
    position: absolute;
    z-index: -1;
    opacity: .82;
}
.back{
    display: flex;
    justify-content: space-evenly;
    
   
    
    padding-top: 0px;
    padding-bottom: 50px;

    
    
}
.chan:hover{
    border-top-left-radius: 3%;
    border-top-right-radius: 3%;
    border-bottom-left-radius: 3%;
    border-bottom-right-radius: 3%;
    border: 3px solid grey;
    background-color: aqua;
    background-color: rgb(54, 69, 79);
    box-shadow: 1px 2px 7px white;
}
.main:hover{
    transform: scale(1.1);
    z-index: 2;
}
.title
{
   padding-top: 0px;
   padding-bottom: 20px;
   display: flex;
   padding-left: 40%;
   padding-bottom: 50px;
   
   
}


