body{
    background-color: black;

}
.v2 {
    border-left: 1px solid whitesmoke;
    height: 610px;
    position: absolute;
    left: 50%;
    margin-top: 15%;
    
  }

  h1{
    color:black;
    text-align: left;
    font-style:initial;
    background-color: aqua  ;
    
  }
  #mar
  {
   display: flex;
   justify-content: space-evenly;
   text-align: justify;
  } 
  #jon
  {
    margin-right: 100px;
    padding-left: 20px;
  }
  #kal
  {
    padding-right: 20px;
  }
  #sp
  {
    background-color: rgb(255, 236, 220);
    text-align: center;
  }
  #bc:hover{
    background-color: rgb(54, 69, 79);
  }
  
  .hg{
    font-family:'Times New Roman', Times, serif;
  }

  #wall{
    border-radius: 0%;
  }
  img{
    border-radius: 0%;
  }
  body{
    
    background:url(./st6.jpg) ;
    background-size: cover;
  }
  body::after{
    content: '';
    z-index: -1;
    background:black;
    position: absolute;
    inset:0;
    opacity: 0.6;
  }

  .kl
  {
    border-radius: 50%;
    
    object-fit: cover;
  }
  .bc{
    border-radius: 50%;
  }
  .bc:hover{
    background-color: rgb(54, 69, 79);
    border-radius: 0%;
    
  }
  .slides
  {
        animation:slider 11s infinite linear;
  }
  @keyframes slider{
    0%{background-image: url(./ver.jpg);}
    35%{background-image: url(./back.png);}
    75%{background-image: url(./mon.png);}
  }
  
  
  
